* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #121212;
  color: #ffffff;
  line-height: 1.6;
}

header {
  text-align: center;
  padding: 50px 20px;
  background: #1f1f1f;
}

h1 {
  font-size: 3em;
  color: #00ffc8;
}

p {
  margin-top: 10px;
  color: #cccccc;
}

/*Seccio Hero*/
.hero {
  height: 60vh;
  background-image: url('/DennisPortu.github.io/fondo.jpg'); /* Puedes cambiar esta URL */
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* efecto parallax */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6); /* oscurecer imagen para mejor contraste */
}

.hero-content {
  position: relative;
  text-align: center;
  z-index: 1;
  color: #00ffc8;
}

.hero h1 {
  font-size: 4em;
  text-shadow: 0 0 10px #00ffc8;
}

/*Seccio grid*/
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 40px 20px;
  max-width: 1200px;
  margin: auto;
}

.card {
  background-color: #1e1e1e;
  border-radius: 10px;
  padding: 40px 20px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  text-decoration: none;
  color: white;
  font-size: 1.3em;
  font-weight: bold;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #7c7c7c;
}

/* Estils per a empreses específiques */
.card.epic { background: linear-gradient(135deg, #222, #555); }
.card.rockstar { background: linear-gradient(135deg, #feca1b, #c59c00); color: black; }
.card.ubisoft { background: linear-gradient(135deg, #1b2735, #3b5ca3); }
.card.valve { background: linear-gradient(135deg, #0a0808, #4d0000); }
.card.nintendo { background: linear-gradient(135deg, #ff0000, #520b0b); }

footer {
  text-align: center;
  padding: 20px;
  background: #1f1f1f;
  color: #aaaaaa;
}